%div.toppage-main
  %div.top-image
    = link_to "#" do
      %ul.slider
        %li
          = image_tag("index-keyvisual.jpg",height:"390px", width:"100%")
        %li
          = image_tag("top-banner-main.jpg", height:"390px", width:"100%")
    %div{id: "arrows"}
      .slick-next
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png")
      .slick-prev
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png")
  %div.popular-category
    %h2
      人気のカテゴリー
    %div.popular-category__bottom
      %ul.popular-category__bottom__list
        %li.popular-category__bottom__list__content
          = link_to "レディース","#"
        %li.popular-category__bottom__list__content
          = link_to "メンズ","#"
        %li.popular-category__bottom__list__content
          = link_to "家電・スマホ・カメラ","#"
        %li.popular-category__bottom__list__content
          = link_to "おもちゃ・ホビー・グッズ","#"
  %div.pickup__area
    %div.pickup
      %div.pickup__box
        %div.pickup__box__upper
          %h3.pickup__box__upper__name
            レディース新着アイテム
          = link_to "もっと見る ＞", "#"
        = render 'pickup'
    %div.pickup
      %div.pickup__box
        %div.pickup__box__upper
          %h3.pickup__box__upper__name
            メンズ新着アイテム
          = link_to "もっと見る ＞", "#"
        = render 'pickup'
  %div.popular-category
    %h2
      人気のブランド
    %div.popular-category__bottom
      %ul.popular-category__bottom__list
        %li.popular-category__bottom__list__content
          = link_to "シャネル","#"
        %li.popular-category__bottom__list__content
          = link_to "ルイヴィトン","#"
        %li.popular-category__bottom__list__content
          = link_to "シュプリーム","#"
        %li.popular-category__bottom__list__content
          = link_to "ナイキ","#"
  %div.pickup__area
    %div.pickup
      %div.pickup__box
        %div.pickup__box__upper
          %h3.pickup__box__upper__name
            シャネル新着アイテム
          = link_to "もっと見る ＞", "#"
        = render 'pickup'